.firstland{
    width: auto !important;
    height: 800px;
}
.lbg{
    background: url('../../images/leavesbg.JPG');
    background-size: cover;

}
@media(max-width:700px){
    .firstland{
        background: url('../../images/assamtea.JPG');
        background-size: cover;
       
     }
     .conte{
         margin-top: 2%;
         background: wheat;
     }
     .cardcom{
         padding: 10%;
     }
}

@media(min-width: 700px){
    .firstland{
        background: url('../../images/teabg4.jpg');
        background-size: cover;

    }
}
.carr {
    height: 639px;
    padding-top: 200px;
    
}

.landcard{
    height: auto;
    padding-top: 200px;
    

}