.firstland{
    width: auto !important;
    height: 800px;
}
.lbg{
    background: url('../../images/leavesbg.JPG');
    background-size: cover;

}
@media(max-width:700px){
    .firstland{
        background: url('../../images/roofteacut2.jpg');
        background-size: cover;
        padding: 0 !important;
       
     }
     .conte{
         margin-top: 2%;
         background: wheat;
     }
     .cardcom{
         padding: 10%;
     }
     .jrnuimg img{
        height: 408px !important;
    }
}

@media(min-width: 700px){
    .firstland{
        background: url('../../images/kettel.jpg');
        background-size: cover;

    }
    
    .extra{
        padding: 100px !important;
    }
}
.carr {
    height: 639px;
    padding-top: 200px !important;
    height: auto;
    
}

.landcard{
    height: auto;
    padding-top: 200px;
    

}